{% extends "footer.html" %}
{% load staticfiles %}
{% load markdown_deux_tags %}

{% block body %}
  
  <div class="container">
  <div class="row">
  <div class="col-s12">
    <article>
      <h4>{{post.question}}</h4>
      <p><b>Written by <span style="color:blue"><em>{{post.user}}</em></span> on {{post.published_date}}</b></p>
      <div class="divider"></div>
      <p>{{post.text|markdown}}</p>
    
    </article>
  </div>
  <a class="btn waves-effect waves-light" href="/forums/">
    <i class="material-icons right">fast_rewind</i>Click here to go back!
  </a>
</div>
<div class="row">
  <div id="disqus_thread"></div>
<script>
/**
* RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
* LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');

s.src = '//quizzy13.disqus.com/embed.js';

s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</div>
</div>
<script id="dsq-count-scr" src="//quizzy13.disqus.com/count.js" async></script>

{% endblock %}
