{% extends "footer.html" %}
{% load staticfiles %}
{% block body %}
<head>
 <script src='https://maps.googleapis.com/maps/api/js?v=3.exp'></script>
 <script type='text/javascript'>
  function init_map(){
    var myOptions = {
        zoom:15,center:new google.maps.LatLng(19.106855532272863,72.83632124554451),
        mapTypeId: google.maps.MapTypeId.ROADMAP};
        map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);
        marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(19.106855532272863,72.83632124554451)});
        infowindow = new google.maps.InfoWindow({content:'<strong>DJ Sanghvi</strong><br>Plot No.U-15, J.V.P.D. Scheme, Bhaktivedanta Swami Marg, Vile Parle West, Mumbai, Maharashtra 400056<br>'});
        google.maps.event.addListener(marker, 'click', function(){infowindow.open(map,marker);});
        infowindow.open(map,marker);}
        google.maps.event.addDomListener(window, 'load', init_map);
  </script>
</head>
<body>
 <div class="container">
     <h3 class="center-align"><i class="material-icons">contacts</i>&nbspContact Us</h3>
     <!-- <form role="form" action="" method="post">
       {% csrf_token %}
       {{ form.as_p }}
       <button type="submit">Submit</button>
        </form> -->
  
 </div>

 





<div class="container">
  <div class="row">
    <div class="col s9">
  <div style='overflow:hidden;height:380px;width:650px;'>
  <div id='gmap_canvas' style='height:380px;width:650px;'></div>
  <style>#gmap_canvas img{max-width:none!important;background:none!important}</style></div>
  </div>
  <div class="col s3">
    <h4><em><i class="material-icons">location_on</i>&nbspAddress:</em></h4>
    <p>Plot No.U-15, J.V.P.D. Scheme, Bhaktivedanta Swami Marg, Vile Parle West, Mumbai, Maharashtra 400056</p>
  </div>
    </div>
  </div>

<div class="container">
      <div class="row">
        <div class="col s12 center">
          <div class="icon-block">
          <h2><i class="material-icons">group</i></h2>
          <h4>About Us</h4>
        </div>
      </div>
    </div>
</div>

<div class="row">
  <div class="col s12 m8 offset-m2 l6 offset-l3">
    <div class="row valign-wrapper">
      <div class="col s6">
  <img src="{% static 'images/meet.jpg' %}" class="circle responsive-img">


           </div>
           <div class="col s6">
  <img src="{% static 'images/mohit.jpg' %}" class="circle responsive-img">
           </div>
 <div class="col s6">
  <img src="{% static 'images/ameya.jpg' %}" class="circle responsive-img">
           </div>
         </div>
</div>

</div>
 
<script>
  
$(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('.modal-trigger').leanModal();
  });
  
</script>
</body>
 
 {% endblock %}


