<!DOCTYPE html>
<html lang="en">
<head>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>LD Detect</title>
  {% load staticfiles %}

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href='https://fonts.googleapis.com/css?family=Amaranth:700italic' rel='stylesheet' type='text/css'>
</head>

<body>
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="/" class="brand-logo" style="font-family: 'Amaranth', sans-serif;font-size:300%;"><i class="material-icons" style="float:left;">code</i>&nbspLD Detect</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/test/">Sections</a></li>
          <!-- <ul id='dropdown1' class='dropdown-content'>
            <li><a href="#!">C</a></li>
            <li><a href="#!">Java</a></li>
            <li class="divider"></li>
            <li><a href="#!">Php</a></li>
          </ul> -->
          <li><a href="/forums">Forum</a></li>
        <li><a href="/contact">Contact Us</a></li>
        {% if user.is_authenticated %}
        <li><a class="dropdown-button" data-beloworigin="true" data-activates="dropdown1">Welcome {{user.username}} ▼</a></li>
          <ul id='dropdown1' class='dropdown-content'>
            <li><a href="/performance">Your Performance</a></li>
            <li><a href="/leaderboard">Leaderboard</a></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
        {% else %}
        <li><a href="/register">Register</a></li>
        <li><a href="/login">Login</a></li>
        {% endif %}
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/test/">Sections</a></li>
        <li><a href="/forums">Forum</a></li>
        <li><a href="/contact">Contact Us</a></li>
        {% if user.is_authenticated %}
        <li><a class="dropdown-button" data-beloworigin="true" data-activates="dropdown2">Welcome {{user.username}} ▼</a></li>
          <ul id='dropdown2' class='dropdown-content'>
            <li><a href="/performance">Your Performance</a></li>
            <li><a href="/leaderboard">Leaderboard</a></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
        {% else %}
        <li><a href="/login">Register/Login</a></li>
        {% endif %}

      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

   <div class="container"><br><br><h4>The page you are trying to access does not exist.<br>Click <a href="/">here</a> to go back to the homepage.</h4></div>  


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static 'js/materialize.js' %}"></script>
  <script src="{% static 'js/init.js' %}"></script>
  

  </body>
</html>