{% extends "footer.html" %}
{% load staticfiles %}
{% block body %}

<body>
  {{stan}}
  <div class="card-panel">
      <span class="blue-text text-darken-2"><h5 style="margin-left: 14%">We provide tests for the following fields :<h5></span>
      
    </div>
     <h4> Your score : {{stan}} </h4>
<div class="container">
    <div class="section">
  <div class="row">

        

        <div class="col s6 m4">
          <div class="card">
            <div class="card-image">
              <img src="{% static 'images/wr.jpg' %}" class="responsive-img">

            </div>
            <div class="card-content">
              <p><b>Vocabulary</b> <br>Take our test and study materials for gauranteed results<br></p>
            </div>
            <div class="card-action">
              <a href="/test/vocabtest" style="color:#000099" onclick="return is_user()" >Take A Test</a>
            </div>
          </div>
        </div>



        <div class="col s6 m4">
          <div class="card">
            <div class="card-image">
              <img src="{% static 'images/compre.png' %}" class="responsive-img">

            </div>
            <div class="card-content">
              <p><b>Comprehension</b><br>dabdbdb svjhb ahbghfbg AHBGFB</p>
            </div>
            <div class="card-action">
              <a href="/test/compretest" style="color:#000099" onclick="return is_user()" >Take A Test</a>
            </div>
          </div>
        </div>

        <div class="col s6 m4">
          <div class="card">
            <div class="card-image">
              <img src="{% static 'images/math.png' %}" class="responsive-img">

            </div>
            <div class="card-content">
              <p><b>MATHS</b><br>jhshj shbvhja jhdshjds jhHHGD J Gadghjgv<BR></p>
            </div>
            <div class="card-action">
              <a href="/test/mathtest" style="color:#000099" onclick="return is_user()" >Take A Test</a>
            </div>
          </div>
        </div>


         <div class="col s6 m4">
          <div class="card">
            <div class="card-image">
              <img src="{% static 'images/math.png' %}" class="responsive-img">

            </div>
            <div class="card-content">
              <p><b>composition</b><br>jhshj shbvhja jhdshjds jhHHGD J Gadghjgv<BR></p>
            </div>
            <div class="card-action">
              <a href="/test/compositiontest" style="color:#000099" onclick="return is_user()" >Take A Test</a>
            </div>
          </div>
        </div>
       

      </div>
</div>
</div>

  <script type="text/javascript">
  function is_user () {
    // body...
    {% if user.is_authenticated %}
      return true;
    {% else %}
      alert('Please Login or Register before continuing.');
      return false;
    {% endif %}
  }
    </script>


  </body>
  {% endblock %}
